@{
    ViewBag.Title = "CreatePlayListSongs";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2 class="my-4 shadow p-3 text-center"> نام پلی لیست ها</h2>
<div class="container-fluid d-flex flex-column justify-content-center align-items-center">
    
    <div class="row text-center">
        <select id="groupSelected" class="form-control fw-bolder rounded-4">
            @foreach (var pList in ViewBag.PlayLists)
            {
                <option value="@pList.playListId" class="form-control fw-bold">@pList.Name</option>
            }
        </select>
    </div>

    <div class="row w-100 shadow rounded-5 my-3 p-3 align-items-center justify-content-center">
        <input class="form-control rounded-5 w-50" id="search-input" placeholder="جستجو کنید ..." />
        <div id="ResultSearch">

        </div>
    </div>

    <div class="row SONGS">
        @foreach (var song in ViewBag.Songs)
        {
            <div class="col-2 " data-id="@song.songId">
                <div class="btn btn-light song-items">
                    <div class="title-song fw-bold">@song.Name</div>
                    <img src="~/Files/Photos/@song.Picture" class="song-pic img-fluid mt-1" />
                    <span class="playIcon d-none"><i class=" fa fa-check fa-3x"></i></span>
                </div>
            </div>
        }
    </div>

</div>
<a class="btn btn-warning bg-gradient w-100 mt-3" id="Create">ذخیره پلی لیست</a>
