<div class="container-fluid">
    <div id="UserForm" class="row d-flex flex-sm-column flex-md-row justify-content-evenly align-items-center">

        @Html.Action("LoginForm", "LoginUser")
        @Html.Action("RegisterForm", "LoginUser")

    </div>
</div>