@model DAL.LoginView
<div class="container-fluid d-flex flex-row justify-content-between">
    <div class="row w-25">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item mt-1">پنل کاربر</li>
                <li class="list-group-item mt-1">دسترسی</li>
            </ul>
        </div>
    </div>
    <div class="row w-75">
        <div id="userPanelLogin" class="col-12">

        </div>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/Bundles/jqueryval")
}