
<div class="d-flex flex-column open">
    <div class="navbar-brand d-flex flex-column align-items-center mt-1">
        <a class=" text-dark mt-3" href="/Admin/Admins">MusicPlayer.Com</a>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="d-flex flex-row justify-content-between w-100 px-4">
                <span id="userPanelLogin" onclick="OpenUserPanel(event)" data-user="@User.Identity.Name" class="userPanelLogin rounded-2 shadow ">پنل کاربری</span>
                <span class="userPanelLogin w-50 bg-gradient rounded-2 shadow">@User.Identity.Name</span>
                <a class="userPanelLogin bg-danger bg-gradient text-light rounded-5" href="@Url.Action("Logout","LoginUser")">خروج از حساب</a>
            </div>
        }
        else
        {
            <a id="userPanel" class="bg-danger mt-3">ورود به حساب کاربری</a>
        }
    </div>

    <div class="search-panel">
        <div class="search-panel-control rounded-5">
            <input class="search-word" id="SearchHomeTxt" placeholder="جستجو کنید ..." />
            <span><i id="SearchHomeIco" class="fa fa-search search-icon-pk"></i></span>
        </div>
    </div>
</div>
