@model DAL.User

<div id="RegForm" class="col-sm-12 col-md-6 mt-2">
    <h3>ثبت نام</h3>
    <img src="~/Photos/8.jpg" class="rounded-3 img-fluid shadow mt-3 LogImg" style="height:100px;" />
    <hr />
    <div class="form-horizontal mt-3">
        <input id="RegName" name="RegName" type="text" class="form-control input-form text-center" placeholder="نام" maxlength="50" />
        <input id="RegFamily" name="RegFamily" type="text" class="form-control input-form text-center" placeholder="فامیل" maxlength="50" />
        <input id="RegPhone" name="RegPhone" type="text" class="form-control input-form text-center" placeholder="شماره تماس" maxlength="11" />
        <input id="RegEmail" name="RegEmail" type="email" class="form-control input-form text-center" placeholder="ایمیل" maxlength="100" />
        <input id="RegUsername" name="RegUsername" type="text" class="form-control input-form text-center" placeholder="نام کاربری" maxlength="20" />
        <input id="RegPass" name="RegPass" type="password" class="form-control input-form text-center" placeholder="رمز کاربری" maxlength="20" />
        <input id="RegrPass" name="RegrPass" type="password" class="form-control input-form text-center" placeholder="تکرار-رمز کاربری" maxlength="20" />
        <input id="RegSubmit" name="RegSubmit" type="button" class="form-control btn btn-dark text-warning rounded-5 mt-3" value="ثبت نام" />
    </div>
</div>
