@model IEnumerable<DAL.Comment>

<div class="container">
    <div class="d-flex flex-column justify-content-between align-items-center">
        <div class="d-flex flex-row justify-content-between w-100 bg-dark bg-gradient p-3 text-light rounded-4">
            <span>نظریات کاربران</span>
            <span>تعداد نظریات کاربران</span>
        </div>
        <div class="CommentContainer mt-1 bg-light bg-gradient text-dark shadow w-100 rounded-5 p-2">
            <div class="d-flex flex-row justify-content-start align-items-center me-5">
                <img src="~/Photos/11.jpg" class="img-fluid rounded-3 shadow" style="height: 70px; width: 70px;" />
                <div class="d-flex flex-column px-3">
                    <span class="p-1 w-100 bg-dark bg-gradient text-light rounded-5">محمد مجتبی نظری</span>
                    <span class="p-1 mt-1 bg-primary bg-gradient text-light rounded-5">تاریخ ثبت</span>
                </div>
            </div>
            <div class="px-5 bg-gradient mt-1">
                این یک متن تستی است که کاربران وارد کردند
                این یک متن تستی است که کاربران وارد کردند
                این یک متن تستی است که کاربران وارد کردند
                این یک متن تستی است که کاربران وارد کردند
            </div>
        </div>


        <div class="row p-4">
            <div class="d-flex flex-row justify-content-between bg-warning bg-gradient text-dark rounded-5 py-1 w-100">
                <span>نظر خود را ثبت کنید ...!</span>
                <i class="fa fa-comment fa-2x"></i>
            </div>
            <form class="form align-items-center">
                <input id="name" type="text" class="form-control mt-2" placeholder="نام کاربری" name="name" />
                <input id="email" type="email" class="form-control mt-2 text-start" placeholder="ایمیل کاربر" name="email" />
                <textarea id="comment" placeholder="نظریه ..." class="form-control mt-2" name="comment" rows="5"></textarea>
                <input onclick="AddSongComment()" type="button" class="btn btn-success w-100 text-center mt-2" value="ثبت نظر" />
            </form>
        </div>
    </div>
</div>
