
<div class="container-fluid d-flex flex-row justify-content-evenly align-items-center">
    <div id="LoginForm" class="row">
        <span class="bg-dark text-light bg-gradient rounded-5 p-1 w-100 my-2">صفحه ورود</span>
        <form class="">
            <input id="loginUser" name="loginUser" type="text" class="form-control input-form" placeholder="نام کاربری" />
            <input id="loginPass" name="loginPass" type="password" class="form-control input-form" placeholder="رمز کاربری" />
            <div class="d-flex flex-row justify-content-between">
                <input id="capchap" name="capchap" type="text" class="form-control input-form w-50" placeholder="عدد را وارد کنید"/>
                <input id="capchapS" name="capchapS" type="text" class="form-control input-form w-50" placeholder="####" />
            </div>
        </form>
    </div>
    <div id="RegForm" class="row">
        <span class="bg-dark text-light bg-gradient rounded-5 p-1 w-100 my-2">صفحه ثبت نام</span>
        <form class="">
            <input id="loginUser" name="loginUser" type="text" class="form-control input-form" placeholder="نام کاربری" />
            <input id="loginPass" name="loginPass" type="password" class="form-control input-form" placeholder="رمز کاربری" />
            <div class="d-flex flex-row justify-content-between">
                <input id="capchap" name="capchap" type="text" class="form-control input-form w-50" placeholder="عدد را وارد کنید" />
                <input id="capchapS" name="capchapS" type="text" class="form-control input-form w-50" placeholder="####" />
            </div>
        </form>
    </div>
</div>