
<div class="container-fluid">
    <div id="UserForm" class="row d-flex justify-content-evenly">

        <div id="LoginForm" class="col-sm-8 col-md-6">
            <span>صفحه ورود</span>
            <img src="~/Photos/7.jpg" class="rounded-3 img-fluid shadow mt-3 LogImg" />
            <form class="d-flex flex-column justify-content-center align-items-center mt-3">
                <input id="loginUser" name="loginUser" type="text" class="form-control input-form" placeholder="نام کاربری" />
                <input id="loginPass" name="loginPass" type="password" class="form-control input-form" placeholder="رمز کاربری" />
                <div class="d-flex flex-row justify-content-between">
                    <input id="capchap" name="capchap" type="text" class="form-control input-form w-50" placeholder="عدد را وارد کنید" />
                    <input id="capchapS" name="capchapS" type="text" class="form-control input-form w-25 text-center" placeholder="#####" />
                </div>
                <input id="loginSubmit" name="loginSubmit" type="button" class="form-control btn btn-dark text-warning rounded-5 mt-5" value="ورود به حساب" />
            </form>
        </div>

        <div id="RegForm" class="col-sm-8 col-md-6">
            <span>صفحه ثبت نام</span>
            <img src="~/Photos/8.jpg" class="rounded-3 img-fluid shadow mt-3 LogImg" style="height:100px;"/>
            <div class="mt-3">
                <input id="RegName" name="RegName" type="text" class="form-control input-form text-center" placeholder="نام" maxlength="50"/>
                <input id="RegFamily" name="RegFamily" type="text" class="form-control input-form text-center" placeholder="فامیل" maxlength="50"/>
                <input id="RegPhone" name="RegPhone" type="text" class="form-control input-form text-center" placeholder="شماره تماس" maxlength="11"/>
                <input id="RegEmail" name="RegEmail" type="email" class="form-control input-form text-center" placeholder="ایمیل" maxlength="100"/>
                <input id="RegUsername" name="RegUsername" type="text" class="form-control input-form text-center" placeholder="نام کاربری" maxlength="20"/>
                <input id="RegPass" name="RegPass" type="password" class="form-control input-form text-center" placeholder="رمز کاربری" maxlength="20"/>
                <input id="RegrPass" name="RegrPass" type="password" class="form-control input-form text-center" placeholder="تکرار-رمز کاربری" maxlength="20"/>
                <input id="RegSubmit" name="RegSubmit" type="button" class="form-control btn btn-dark text-warning rounded-5 mt-3" value="ثبت نام" />
            </div>
        </div>

    </div>
</div>