@model DAL.PlayListSongPKFK

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PlayListSongPKFK</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDPlayListSongPKFK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
