@font-face {
    font-family: IranSans;
    src: url("'~/Content/Fonts/IRANSansWeb Bold.ttf'");
}
body {
    font-family: IranSans;
}

a {
    text-decoration: none !important;
}
/*  Start Modal     */
.btn-modal {
    padding: 0.5rem 1rem;
    background: rgb(0, 68, 255);
    border: 1px solid #eee;
    color: #eee;
    cursor: pointer;
    border-radius: 0.5rem;
}

    .btn-modal:hover {
        background: rgb(0, 30, 114);
    }

.d-block-modal {
    display: block !important;
}

#modal-shadow {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place front is invalid - may break your css so removed */
    padding-top: 100px; /* Location of the box - don't know what this does?  If it is to move your modal down by 100px, then just change top below to 100px and remove this*/
    left: 0;
    right: 0; /* Full width (left and right 0) */
    top: 0;
    bottom: 0; /* Full height top and bottom 0 */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    z-index: 99999; /* Sit on top - higher than any other z-index in your site*/
}

#modal-tab {
    margin: 5rem auto;
    width: 30rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0);
    animation-name: fade;
    animation-duration: 1s;
}

#modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgb(0, 30, 114);
    color: #fff !important;
    border-radius: 1rem 1rem 0 0;
    padding: 0 1rem;
}

#modal-title {
    font-size: 1.2rem;
    margin-top: 1rem;
}

#modal-body {
    padding: 1rem;
    background: rgb(255, 255, 255);
}

#modal-footer {
    background: rgb(86, 139, 255);
    border-radius: 0 0 1rem 1rem;
    padding: 0.5rem 1rem;
}

#close-X {
    font-size: 2rem;
}

    #close-X:hover {
        color: rgb(255, 0, 0);
        cursor: pointer;
    }

@keyframes fade {
    0% {
        margin-top: -5rem;
    }

    100% {
    }
}
/*  End Modal   */
.aside-list-item {
    background: linear-gradient(90deg,#000000b2,#000000b9);
    box-shadow: 0 0 10px 0 #000000ba;
    margin: 1rem;
    width: 250px;
}
.aside-list-item > a > div > p{
    color: #fff !important;
}
.aside-list-item:hover{
    background: linear-gradient(0deg,#000000bf,#ffffffba);
    box-shadow: 0 0 20px 0 #ffffffff;
}
.title-item{
    font-size: 1.4rem;
    border-radius: 1rem;
    background: linear-gradient(0deg,#343434ff,#1e1e1eff);
    width: 100%;
    text-align: center;
    padding: 0.5rem 0.7rem;
    box-shadow: 0 0 10px 0 #0000006d;
    margin-top: 1rem;
    color: #5100ff;
}
#aside-panel {
    z-index: 10001 !important;
    position: absolute;
    overflow: hidden;
    background: #000000ba;
    box-shadow: 0 0 50px 0 #000000;
}
#aside-list {
    list-style: none !important;
}
.open {
    animation-name: openAside;
    animation-duration: 1s;
    backdrop-filter:blur(5px);
}
.close {
    animation-name: closeAside;
    animation-duration: 1s;
    height: 5%;
}
@keyframes closeAside{
    0% {
        height: 90vh;
    }
    100% {
        height: 5%;
    }
}
@keyframes openAside {
    0% {
        height: 5%;
    }

    100% {
        height: 90vh;
    }
}

#search-container-nav {
    backdrop-filter: blur(10px);
    background: linear-gradient(90deg,#ffffff12,#ffffff26);
    border-radius: 5rem;
    width: 20rem;
}
#search-input-nav{
    background: #00000000;
    color: #ffffffba;
    outline: none;
    border: 1px solid #fff0;
    width: 90%;
}
#search-icon-nav {
    font-size: 1.2rem;
    margin-left: 1rem;
    cursor: pointer;
}
#search-icon-nav:hover{
    color: #ff7d00ff;
    transform: scale(1.5);
}

.lbl {
    font-size: 1.3rem;
}
.playIcon {
    background: linear-gradient(0deg,#00000000,#ff8500,#00000000);
    position: absolute;
    margin: 15px -115px 0px 0px;
    width: 124px;
    height: 72px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.playIcon > i{
    color: #ffffff;
}
.song-items{
    height: 120px !important;
}
.song-pic {
    height: 80px !important;
    width: 120px !important;
    border-radius: 0.5rem;
}
#search-input{
    background: #ffffff00 !important;
}
/*  Play List PkFk    */

#search-panel {
    direction: rtl;
    display: flex;
    flex-direction: row;
}

#search-panel-control {
    background: linear-gradient(0deg,rgba(77, 77, 77, 0.233),rgba(68, 68, 68, 0.377));
    margin: 1rem auto;
    padding: 1rem;
    width: 70%;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#search-word {
    background: rgb(150, 150, 150, 0.00);
    padding: 0.1rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0);
    outline: none;
    color: #eee;
    width: 90%;
}

#search-word::placeholder {
    color: rgba(255, 255, 255, 0.644);
}

#search-icon-pk {
    cursor: pointer;
    color: #eee;
    transform: scale(1.5);
    margin-top: 5px;
}

#search-icon-pk:hover {
    color: rgb(8, 8, 8);
    transform: scale(2);
}

/* ROW SONGS */
.img-songs-items {
    height: 6rem;
}
.song-items-PK {
    background: linear-gradient(0deg,rgb(255, 132, 94),rgb(255, 130, 57));
    box-shadow: 0 0 10px 0 rgb(0, 0, 0);
    cursor: pointer;
}

.song-items-PK:hover {
    background: linear-gradient(0deg,rgb(110, 13, 0),rgb(255, 145, 0));
    box-shadow: 0 0 10px 0 rgb(238, 255, 0);
    color: #eee;
    cursor: pointer;
}

.Checked {
    background: linear-gradient(0deg,rgb(255, 255, 255),rgb(0, 0, 0));
}
/* Play List Show */
.playlist-container {
    background: linear-gradient(45deg,rgb(255, 115, 0),rgb(207, 142, 0),rgb(255, 0, 0));
    border-radius: 1rem;
    margin: 5px;
    padding: 1rem;
    height: 20rem;
    overflow-y: auto;
}

.title-playlist-show {
    background: linear-gradient(45deg,rgb(54, 40, 0),rgb(107, 70, 0),rgb(102, 41, 0));
    box-shadow: 0 0 10px 0 #eee;
}

.playList-item-show {
    background: linear-gradient(90deg,rgb(92, 0, 0),rgb(77, 0, 64));
}

    .playList-item-show:hover {
        background: linear-gradient(90deg,rgb(58, 40, 0),rgba(0, 0, 0, 0));
        cursor: pointer;
    }
/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg,rgb(255, 145, 0),rgb(255, 94, 0));
    border-radius: 10px;
}