
@font-face {
    font-family: 'iransansweb bold';
    src: url('../../fonts/iransansweb bold.ttf') format('truetype');
}

body {
    background: url("../../Photos/3.jpg") no-repeat center center/cover;
    backdrop-filter: blur(5px);
    font-family: 'iransansweb bold';
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Start Modal */
#modal-container {
    background: rgba(0, 0, 0, 0.514);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place front is invalid - may break your css so removed */
    left: 0;
    right: 0; /* Full width (left and right 0) */
    top: 0;
    bottom: 0; /* Full height top and bottom 0 */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    z-index: 99999; /* Sit on top - higher than any other z-index in your site*/
}

#modal {
    position: absolute;
    top: 50px;
    width: 95%;
    z-index: 9999;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2),0 6px 20px 0 rgba(255, 255, 255, 0.19);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.568);
    animation-name: animateTop;
    animation-duration: 1s
}

#modal-header {
    background: linear-gradient(60deg,rgb(255, 94, 0),rgb(255, 174, 0));
    height: 5%;
    border-radius: 1rem 1rem 0 0;
}

.fa-close {
    color: rgb(68, 0, 107);
    cursor: pointer;
}

.fa-close:hover {
    color: rgb(255, 255, 255);
}

#modal-body {
    background: linear-gradient(45deg,rgba(255, 192, 140, 0.5),rgba(255, 243, 132, 0.5));
    padding: 10px;
    border-radius: 0 0 1rem 1rem;
    height: 780px;
    overflow-y: auto;
}
/* Add Animation */
@keyframes animateTop {
    /* from {top: -500px; opacity: 0}
    to {top: 50px; opacity: 1} */
    from {
        opacity: -1
    }

    to {
        opacity: 1
    }
}
/* End Modal */
#nav {
    background: linear-gradient(180deg,rgba(255, 255, 255, 0.5),rgba(0, 0, 0, 0.267));
    cursor: pointer;
    backdrop-filter: blur(5px);
    position: absolute;
    width: 100%;
    box-shadow: 0 0 30px 0 #000;
}

#userPanel {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    color: #eee;
    background: linear-gradient(60deg,rgb(255, 166, 0),rgb(255, 123, 0),rgb(255, 60, 0));
    box-shadow: 0 0 10px 0 #000;
    width: 15rem;
    cursor: pointer;
}

    #userPanel:hover {
        color: rgb(0, 0, 0);
        background: linear-gradient(60deg,rgb(255, 166, 0),rgb(255, 51, 0),rgb(255, 174, 0));
    }

/* 
Search Aside Panel
*/
.search-panel {
    direction: rtl;
    display: flex;
    flex-direction: row;
}

.search-panel-control {
    background: linear-gradient(0deg,rgba(255, 255, 255, 0.671),rgba(255, 255, 255, 0.671));
    margin: 1rem auto;
    padding: 0.3rem 1rem;
    width: 70%;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-word {
    background: rgba(255, 255, 255, 0);
    padding: 0.2rem;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0);
    outline: none;
    color: rgb(2, 2, 2);
    width: 90%;
}

.search-word::placeholder {
    color: rgb(53, 32, 0);
}

.search-icon-pk {
    cursor: pointer;
    color: rgb(94, 19, 0);
    transform: scale(1.5);
    margin-top: 5px;
}

.search-icon-pk:hover {
    color: rgb(8, 8, 8);
    transform: scale(2);
}
/* End Search */
#nav-list {
    background: linear-gradient(0deg,rgb(255, 255, 255, 0.00),rgb(255, 255, 255, 0.4));
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid rgb(255, 255, 255);
}

.nav-list-item {
    background: linear-gradient(90deg,rgba(255, 166, 0, 0.932),rgba(255, 38, 0, 0.699));
    margin: 0.2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
}

.nav-list-item:hover {
    background: linear-gradient(130deg,rgba(255, 0, 34, 0.767),rgb(255, 136, 0));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.438),0 6px 20px 0 rgba(0, 0, 0, 0.671);
}

.nav-list-item > a {
    color: rgb(255, 255, 255);
}

.close {
    animation-name: closeSide;
    animation-duration: 1s;
    height: 5%;
}

.open {
    animation-name: openSide;
    animation-duration: 1s;
    height: 100%;
}

@keyframes closeSide {
    0% {
        height: 100%;
    }

    100% {
        height: 5%;
    }
}

@keyframes openSide {
    0% {
        height: 5%;
    }

    100% {
        height: 100%;
    }
}

#section {
    height: 100vh;
    padding-top: 5rem;
    padding-right: 5rem;
    overflow-y: auto;
    backdrop-filter: blur(3px);
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #00000096;
    border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg,rgb(255, 145, 0),rgba(238, 238, 238, 0));
    border-radius: 1rem;
}

    /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(0deg,rgb(0, 0, 0),rgba(238, 238, 238, 0));
    cursor: pointer !important;
}

.singer-list-play, .song-list-play, .Album-list-play {
    font-size: 0.8rem;
}

#header-row1 {
    background: linear-gradient(90deg,rgba(255, 255, 255, 0.5),rgba(206, 117, 0, 0.411));
    border: 1px solid #eee;
    border-radius: 0.5rem;
    backdrop-filter: blur(5px);
}

.header-music-controller {
    color: #fff;
    cursor: pointer;
    padding: 1rem;
}

.header-music-controller:hover {
    animation: ChangeColor 5s infinite linear;
    color: rgb(255, 153, 0);
    transform: scale(1.5);
}

#header-img {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    border: 5px solid rgb(76, 0, 255);
    animation: rotation 5s infinite linear;
    margin-top: 1.5rem;
}

#Controller-Container {
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.747),rgba(0, 0, 0, 0.5));
    border-radius: 10rem;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
        border: 1px solid red;
        box-shadow: 0 0 10px 0 rgb(132, 0, 255);
    }

    to {
        transform: rotate(359deg);
        border: 1px solid rgb(0, 17, 255);
    }
}

@keyframes ChangeColor {
    10% {
        color: rgb(255, 0, 0);
    }

    20% {
        color: rgb(255, 81, 0);
    }

    30% {
        color: rgb(255, 208, 0);
    }

    40% {
        color: rgb(157, 255, 0);
    }

    50% {
        color: rgb(0, 255, 76);
    }

    60% {
        color: rgb(0, 195, 255);
    }

    70% {
        color: rgb(0, 119, 255);
    }

    80% {
        color: rgb(0, 47, 255);
    }

    90% {
        color: rgb(76, 0, 255);
    }

    100% {
        color: rgb(225, 0, 255);
    }
}

@keyframes ChangeColorProgress {
    10% {
        background: rgb(255, 0, 0);
    }

    20% {
        background: rgb(255, 81, 0);
    }

    30% {
        background: rgb(255, 208, 0);
    }

    40% {
        background: rgb(157, 255, 0);
    }

    50% {
        background: rgb(0, 255, 76);
    }

    60% {
        background: rgb(0, 195, 255);
    }

    70% {
        background: rgb(0, 119, 255);
    }

    80% {
        background: rgb(0, 47, 255);
    }

    90% {
        background: rgb(76, 0, 255);
    }

    100% {
        background: rgb(225, 0, 255);
    }
}

#Progress-Container {
    direction: ltr;
    height: 10px;
    width: 100%;
    border-radius: 1rem;
    background: rgba(53, 53, 53, 0.555);
    cursor: pointer;
}

#Progress {
    height: 10px;
    border-radius: 1rem;
    animation: ChangeColorProgress 5s infinite linear;
}

#Progress:hover {
    background: rgb(255, 255, 255) !important;
}

.list-group-item-list {
    background: linear-gradient(90deg,rgb(255, 207, 136),rgb(255, 242, 208));
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    margin-top: 1px;
    font-size: 0.8rem;
    cursor: pointer;
    color: rgb(35, 35, 35);
}

.list-group-item-list:hover {
    background: linear-gradient(90deg,rgb(255, 255, 255),rgb(255, 242, 208));
    border-right: 5px solid rgb(255, 0, 0);
}

#footer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4),0 6px 20px 0 rgba(0, 0, 0, 0.5);
    color: #fff;
    background: linear-gradient(90deg,rgb(2, 0, 36),rgb(63, 0, 0));
}

/*  Start Group Modal   */
.group {
    text-align: center;
    background: linear-gradient(0deg,#00000000,rgb(255, 255, 255, 0.60));
    margin-bottom: 5px;
    border-radius: 1rem;
    cursor: pointer;
}
.group:hover {
    background: #ffffffdc;
}
.groupTitle {
    color: black;
    text-align: center;
    width: 10rem;
    margin-top: 0.5rem;
}
.GroupTitleModal {
    background: black;
    color: rgb(255, 255, 255);
    width: 20rem;
    border-radius: 0 1rem 0 0;
    cursor: pointer;
    margin: 0 -12px 0 0;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.GroupTitleModal > a > i{
    color: red;
}
.GroupTitleModal > a > i:hover{
    color: red;
    transform: scale(1.5);
}
.group-list {
    margin-top: 1px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    border-radius: 0.5rem;
}

.group-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 220px;
    width: 250px;
    border-radius: 10rem;
    margin: 20px 5px;
}
.group-song {
    background: linear-gradient(0deg,rgb(0, 0, 0, 0.80),rgb(0, 0, 0, 0.52));
    border-radius: 5rem;
    padding: 0.2rem 0.5rem;
    margin: 5px 0 5px 0;
    color: rgb(255, 255, 255);
    width: 7rem;
    margin: 10px;
}
.group-item > img {
    margin-top: -1rem;
    border-radius: 50rem;
    width: 120px;
    height: 120px;
}
/*  End Group Modal   */

/* Start Mobile Style   */
@media screen and (min-width: 768px) {
    #header-img {
        width: 200px !important;
        height: 200px !important;
    }
}
/* End Mobile Style   */

/* Start Songs Styles */
.song-item-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg,#00000000,#ffffff4d);
    backdrop-filter: blur(20px);
    border-radius: 40% 1% 40% 1%;
    padding: 1rem;
    border: 1px solid rgb(255, 255, 255, 0.5);
    height: 250px !important;
}
.song-item-modal > img{
    border-radius: 50%;
    box-shadow: 0 0 20px 0 black;
}
.song-item-modal:hover {
    box-shadow: 0 0 10px 0 black;
    cursor: pointer;
    animation-name: ShowItem;
    animation-duration: 1s;
    transform: scale(1.1);
}
 /* End Songs Styles */
/* Start PlayList Style */
.play-list-item {
    background: linear-gradient(0deg,rgb(255, 255, 255, 0.53),rgb(89, 169, 255));
    display: flex;
    flex-direction: row;
    justify-content: start;
    cursor: pointer;
    transform: scale(0.8);
}
.play-list-item:hover {
    background: linear-gradient(180deg,rgb(255, 255, 255),rgb(255, 125, 0, 0.75));
    box-shadow: 0 0 30px 0 #454545;
    animation-name: ShowItem;
    animation-duration: 1s;
    transform: scale(1);
}
.play-list-item > div{
    /*background: linear-gradient(90deg,rgb(255, 255, 255),rgb(76, 0, 255));*/
    /*backdrop-filter: blur(10px);*/
    /*height: 150px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}
@keyframes ShowItem {
    0%{
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}
.info-music-play > span{
    font-size: 1rem;
}
.LIST{
    margin-top: 1rem;
    height: 150px;
    overflow: auto;
}
/* End PlayList Style */
/*   Start Album Style   */
.album-item-nav{
    padding: 0.2rem;
    background: linear-gradient(0deg,#eee6,#160072ce);
    margin-top: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.album-item-nav:hover {
    background: linear-gradient(0deg,#160072ce,#eee6);
    animation-name: ShowItem;
    animation-duration: 1s;
    transform: scale(1.1);
    box-shadow: 0 0 10px 0 #1b1b1b;
}
/*   End Album Style   */

/*   Start Padcast Style   */
.Padcast-Items {
    background: linear-gradient(0deg,rgb(255, 180, 0, 0.75),rgb(255, 255, 255, 0.43));
    padding: 5px;
    height: 265px;
    width: 200px;
    cursor: pointer;
    box-shadow: 0 0 20px 0 #000000 !important;
    margin-top: 10px;
    border-radius: 10px;
}
.Padcast-Items > img{
    height: 150px;
    width: 150px;
    border-radius: 10rem;
    box-shadow: 0 0 10px 0 #1b1b1b !important; 
}
.Padcast-Items:hover {
    background: linear-gradient(0deg,rgb(255, 255, 255, 0.43),rgb(255, 180, 0, 0.75));
    box-shadow: 0 0 20px 0 #ffffff !important;
    animation-name: ShowItem;
    animation-duration: 1s;
    z-index: 99999;
}
/*   End Padcast Style   */

/*   Start Country Style   */
.CountryItem {
    background: linear-gradient(0deg,#ffd4a000,#7692ff9f);
    border-radius: 1rem;
    padding: 1rem;
    height: 500px;
    box-shadow: 0 0 20px 0 #000000 !important;
    overflow: auto;
}
.ItemCountry{
    background: linear-gradient(0deg,rgb(255, 255, 255, 0.88),rgb(255, 255, 255, 0.50));
    font-size: 12px;
    margin-top: 2px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}
.ItemCountry:hover {
    background: linear-gradient(180deg,rgb(255, 255, 255, 0.88),rgb(255, 255, 255, 0.50));
    border-right: 5px solid red;
    border-left: 5px solid red;
}
/*   End Country Style   */
/* Start Singer Style */
.SingerItem{
    background: linear-gradient(0deg,rgb(255, 255, 255),rgba(255, 255, 255, 0.5));
    padding: 0.5rem;
    border-radius: 10px;

}
.SingerItem:hover {
    background: linear-gradient(180deg,rgb(255, 255, 255),rgba(255, 255, 255, 0.5));
    border-radius: 10px;
    box-shadow: 0 0 20px 0 #000000 !important;
}
/* End Singer Style */
/* Start Remix Style */
.RemixItems {
    background: linear-gradient(0deg,rgb(255, 255, 255),rgb(0, 0, 0, 0.50));
    box-shadow: 0 0 10px 0 #000000 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    margin: 0.5rem;
}
.RemixItems:hover {
    background: linear-gradient(180deg,rgb(255, 255, 255, 0.70),rgb(255, 117, 0, 0.75));
    box-shadow: 0 0 20px 0 #000000 !important;
}
/* End Remix Style */

/* Start Player Styles*/
.fa-star {
    color: rgb(255, 166, 0);
}
.fa-star:hover {
    color: rgb(0, 177, 255);
    transform: scale(1.5);
}
.fa-heart {
    color: rgb(255, 166, 0);
    cursor: pointer;
}
.fa-heart:hover {
    color: rgb(0, 177, 255);
    transform: scale(1.5);
}
#SetInfo {
    margin-top: 1rem;
}
/* End Player Styles*/
/*   Start Comment Style   */
.CommentContainer{
    font-size: 0.8rem !important;
}
/*   End Comment Style   */
/*  Start Search Style   */
.search-Item{
    margin: 5px ;
    width: 150px;
    
}
/*  End Search Style   */

/*  Start Login User Style   */
#UserForm {
    margin-top: 5rem;
    backdrop-filter: blur(10px) !important;
}
.input-form {
    background: linear-gradient(60deg,rgb(128, 128, 128, 0.10),#bbbbbb29);
    border: 1px solid rgb(255, 255, 255, 0.25);
    color: rgb(255, 255, 255) !important;
    border-radius: 5rem;
    margin-top: 5px;
    outline: none;
}
.input-form::placeholder {
    color: rgb(255, 255, 255, 0.8);
}
.input-form:focus {
    background: linear-gradient(60deg,rgb(128, 128, 128, 0.10),#bbbbbb29);
    border: 1px solid #00000000;
    outline: none;
}
#LoginForm, #RegForm {
    padding: 1.5rem;
    width: 45%;
    height: 550px;
    background: linear-gradient(160deg,rgb(0, 0, 0, 0.40),rgb(0, 0, 0, 0.35));
    border: 1px solid rgb(0, 0, 0, 0.56);
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 black;
    backdrop-filter: blur(10px);
}
#LoginForm > span, #RegForm > span {
    background: #212020;
    color: rgb(255, 166, 0);
    padding: 0.2rem 5rem;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 #ff7d00b2 !important;

}
.LogImg {
    animation-name: ChangeScaleImg;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    box-shadow: 0 0 25px 0 #000000ff !important;
}
@keyframes ChangeScaleImg{
    0% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.5);
    }
}
@keyframes ChangeShadowColor {
    10% {
        box-shadow: 0 0 15px 0 #ff0000a6 !important;
    }

    20% {
        box-shadow: 0 0 15px 0 #ff9c00a6 !important;
    }

    30% {
        box-shadow: 0 0 15px 0 #ddff00a6 !important;
    }

    40% {
        box-shadow: 0 0 15px 0 #31ff00a6 !important;
    }

    50% {
        box-shadow: 0 0 15px 0 #00ff9aa6 !important;
    }

    60% {
        box-shadow: 0 0 15px 0 #008affa6 !important;
    }

    70% {
        box-shadow: 0 0 15px 0 #000dffa6 !important;
    }

    80% {
        box-shadow: 0 0 15px 0 #6000ffa6 !important;
    }

    90% {
        box-shadow: 0 0 15px 0 #be00ffa6 !important;
    }

    100% {
        box-shadow: 0 0 15px 0 #ff00a4a6 !important;
    }
}

#LoginForm {
}
#RegForm {
}
#loginSubmit, #RegSubmit {
    width: 10rem;
}

/*  End Login User Style   */
