<div id="search-panel">
    <div id="search-panel-control" class="rounded-5">
        <input id="search-word" placeholder="جستجو کنید ..." />
        <span><i id="search-icon-pk" class="fa fa-search"></i></span>
    </div>
</div>
