<div id="footer" class="d-flex flex-column justify-content-center align-items-center pt-2">
    <p>
        تمامی حقوق اين وبسايت متعلق به موزیک سایت مي باشد و کپی برداری از مطالب فقط با ذکر منبع مجاز است.
        طـبق ماده 12 فصل سوم قانون جرائم رایانه ای هرگونه کپی برداری از قالب پیگرد قانونی دارد.
    </p>
    <p class="d-flex flex-row justify-content-between w-25 ">
        <i class="fa fa-instagram"></i>
        <i class="fa fa-facebook"></i>
        <i class="fa fa-spotify"></i>
        <i class="fa fa-youtube"></i>
        <i class="fa fa-music"></i>
        <i class="fa fa-maxcdn"></i>
        👉
    </p>
</div>
