<div class="col-sm-12 col-md-2 p-3">
    <div class="bg-dark bg-gradient text-light p-2 rounded-2 overflow-auto" style="height: 550px;">
        <h6 class="bg-warning text-dark bg-gradient p-1 rounded-5 sticky-top">آلبوم های پربازدید</h6>
        <ul class="list-group">
            @foreach (var item in ViewBag.List)
            {
                <li class="list-group-item-list">
                    <a class="d-flex flex-row justify-content-between" href="@Url.Action("AlbumPlay","Section",new {id=item.AlbumId})">
                        <span class="singer-list-play">@item.SingerName</span>
                        <span class="Album-list-play">@item.AlbumName</span>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
