<div class="d-flex flex-column open">
    <div class="mt-1">
        <ul id="nav-list" class="d-flex flex-row justify-content-evenly flex-wrap">
            <li onclick="GroupOpen()" id="Groups" class="nav-list-item">دسته بندی ها</li>
            <li onclick="SongsOpen()" id="Songs" class="nav-list-item">آهنگها</li>
            <li onclick="PlayListOpen()" id="PlayLists" class="nav-list-item">پلی لیست ها</li>
            <li onclick="AlbumOpen()" id="Albumes" class="nav-list-item">آلبوم ها</li>
            <li onclick="PadcastOpen()" id="Padcasts" class="nav-list-item">پادکست ها</li>
            <li onclick="CountryOpen()" id="Countries" class="nav-list-item">کشور ها</li>
            <li onclick="SingerOpen()" id="Singers" class="nav-list-item">خوانندگان</li>
            <li onclick="RemixOpen()" id="Remixes" class="nav-list-item">ریمیکس</li>
        </ul>
    </div>
</div>
