<div class="d-flex flex-column open">
    <div class="mt-1">
        <ul id="nav-list" class="d-flex flex-row justify-content-evenly flex-wrap">
            <li id="HomePage" class="nav-list-item w-100 rounded-5">صفحه اصلی</li>
            <li id="Groups" class="nav-list-item">دسته بندی ها</li>
            <li id="Songs" class="nav-list-item">آهنگها</li>
            <li id="PlayLists" class="nav-list-item">پلی لیست ها</li>
            <li id="Albumes" class="nav-list-item">آلبوم ها</li>
            <li id="Padcasts" class="nav-list-item">پادکست ها</li>
            <li id="Countries" class="nav-list-item">کشور ها</li>
            <li id="Singers" class="nav-list-item">خوانندگان</li>
            <li id="Remixes" class="nav-list-item">ریمیکس</li>
        </ul>
    </div>
</div>
