@model DAL.ViewModels.ViewGroup
@{
    ViewBag.Title = "PlayListGroup";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="col-sm-12 col-md-2 p-3">
    <div class="bg-dark bg-gradient text-light p-2 rounded-2 overflow-auto" style="height: 550px;">
        <h6 class="bg-warning text-dark bg-gradient p-1 rounded-5 sticky-top">لیست در حال پخش</h6>
        <ul class="list-group">
            @foreach (var item in Model.Songs)
            {
                <li class="list-group-item-list">
                    <a class="d-flex flex-row justify-content-between" href="#">
                        <span class="song-list-play">@item.SongName</span>
                        <span class="singer-list-play">@item.Album.Singer.SingerName</span>
                        <span class="Album-list-play">@item.Album.AlbumName</span>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>

