<div class="d-flex flex-column open">
    <div class="navbar-brand d-flex flex-column align-items-center mt-1">
        <a class=" text-dark mt-3">MusicPlayer.Com</a>
        <a id="userPanel" class="bg-danger mt-3">ورود به حساب کاربری</a>
    </div>

    <div id="search-panel">
        <div id="search-panel-control" class="rounded-5">
            <input id="search-word" placeholder="جستجو کنید ..." />
            <span><i id="search-icon-pk" class="fa fa-search"></i></span>
        </div>
    </div>
</div>
