<div class="d-flex flex-column open">
    <div class="navbar-brand d-flex flex-column align-items-center mt-1">
        <a class=" text-dark mt-3" href="/Admin/Admins">MusicPlayer.Com</a>
        <a id="userPanel" class="bg-danger mt-3">ورود به حساب کاربری</a>
    </div>

    <div class="search-panel">
        <div class="search-panel-control rounded-5">
            <input class="search-word" id="SearchHomeTxt" placeholder="جستجو کنید ..." />
            <span><i id="SearchHomeIco" class="fa fa-search search-icon-pk"></i></span>
        </div>
    </div>
</div>
