@model IEnumerable<DAL.ViewSinger>
@{
    string Name = "";
}
<ul class="list-group">
    @foreach (var item in Model)
    {
        if (Name != item.SingerName)
        {
            <li class="list-group-item ItemCountry">
                <a href="@Url.Action("PlaySingerSongs","Section",new {id=item.SingerId})">@item.SingerName</a>
            </li>
        }
        Name = item.SingerName;
    }
</ul>

