@model DAL.ViewModels.ViewPadcast

@{
    ViewBag.Title = "PadcastSong";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="col-sm-12 col-md-2 p-3">
    <div class="p-2 rounded-2 overflow-auto" style="height: 550px; background: linear-gradient(180deg, rgb(255, 255, 255, 0.30), rgb(255, 255, 255, 0.50)); border:1px solid #ffffffd6; backdrop-filter: blur(10px);">
        <h6 class="bg-warning text-dark bg-gradient p-1 rounded-5 sticky-top">لیست در حال پخش</h6>
        <ul class="list-group">
            <li class="list-group-item-list">
                <a class="d-flex flex-column justify-content-between" href="#">
                    <img src="~/Files/Photos/@Model.Picture" class="img-fluid shadow rounded-circle mt-2" />
                    <span class="bg-dark text-warning rounded-1 px-3 py-1 my-2" style="font-size: 1rem;">@Model.PadcastName</span>
                </a>
            </li>
        </ul>
    </div>
</div>

