@model IEnumerable<DAL.ViewModels.ViewPadcast>

<div class="container-fluid">
    <div class="d-flex flex-row justify-content-around flex-wrap">
        @foreach (var item in Model)
        {
            <a href="@Url.Action("PadcastPlay","Section",new {id=item.PadcastId})" class="Padcast-Items shadow rounded-2 mt-2">
                <img src="~/Files/Photos/@item.Picture" class="img-fluid shadow"/>
                <div class="d-flex flex-column justify-content-between mt-1">
                    <span class="bg-dark text-warning rounded-1 w-100 px-2 p-1">@item.PadcastName</span>
                    <span class="bg-light text-primary rounded-1 w-100 px-2 p-1 mt-1" style="text-align: right;">امتیاز : @item.Score</span>
                    <span class="bg-light text-primary rounded-1 w-100 px-2 p-1" style="text-align: right;">تعداد بازدید : @item.Visit</span>
                </div>
            </a>
        }
    </div>
</div>